
section.comment-window-container{
position: fixed;
inset: 0;
 
z-index: 1000;



i.close{
 color: white;
 position: absolute;
}
   div.backdrop{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
     background: rgba(0,0,0,0.6);
     backdrop-filter: blur(10px);

     i.close{
      position: absolute;
      right: 1.2rem;
      top: 1.2rem;
     }

   }


   .container{
    height: 80%;
    width: 100%;
    min-width: 50%;
    max-width: 80%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    

    .post-img{
        width: 50%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }
    .right-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        
        
        .right-header{
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

            .username{
                font-size: 1.4rem;
            }


            .avatar{
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
            }
           
            .options{
                margin-left: auto;
                background: transparent;
                border: transparent;
                font-size: 1.5rem;
                color: white;
            }
        }

        .comment-wrapper{
            height: 60%;
            border: 2px solid rgb(255, 3, 3);
            overflow: auto;

           
        }

        .post-actions{
            display: flex;
            gap: 1.5rem;
            padding: 1rem;
            font-size: 2.2rem;
            
            
            button{
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                color: white;
                gap: 0.2rem;
                font-size: 1rem;
                
            }
        }

    }
    
   }


    }