
section.create-window-wrapper{
position: fixed;
inset: 0;
 
z-index: 1000;



i.close{
 color: white;
 position: absolute;
}
   div.backdrop{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
     background: rgba(0,0,0,0.6);
     backdrop-filter: blur(10px);

     i.close{
      position: absolute;
      right: 1.2rem;
      top: 1.2rem;
     }

   }



div.create-window-container{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50% ,-50%);
     padding: 1rem;
     background-color: #1B1F23;
    border-radius: 0.5rem;
    max-width: 35rem;
    width: 100%;
    min-width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;

    .postwindow-userinfo{
        display: flex;
        align-items: center;
        gap: 0.5rem;

          img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }

          div{
            color: white;
            h1{
                font-size: 1.4rem;
                font-weight: 800;
                
            }
          }

    }

    .caption{
        
        
        width: 100%;
        
            textarea {
        width: 100%;
        min-height: 15rem;
        field-sizing: content   ;
        border: none;
        resize: none;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        margin-top: 0.4rem;
        padding: 10px;
       
        background-color: transparent;
        color: white;
        &::placeholder{
            color: #C7C7C7;
            font-size: 1.4rem;
        }
        }



    }

    .emoji-window{
        position: absolute;
       top: 60%;
       left: -50%;
       transform: translate(50% , -50%);
       
    }

    i.Emoji{

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        background-color: transparent;
        width: fit-content;
        padding: 0.5rem ;
        border-radius: 50%;
        color: white;
        &:hover{
           background-color: #4c4949;
        }


    }

   
       .btns{
        padding:0.5rem ;
        input{
            display: none;
        }
        label{
            color: white;
            font-size: 1.5rem;
        }
       }
          

           .post-btn{
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: end;
            button{
                font-size: 1.2rem;

                padding: 0.5rem 1rem;
                border-radius: 1.2rem;
                border: none;

            }
           } 
             

      
         

        }
    }